@import "../../assets/theme/default.scss";
$border-thickness: 3px;

.input {
    border-radius: 16px;
    width: 100%;
    padding: 8px 16px;
    border: $border-thickness solid transparent;
    font-size: 24px;
    box-shadow: .1px 1px 4px;

    &:hover,
    &:focus {
        border: $border-thickness solid $primary !important;
        outline: none;
    }


}