@import '../../assets/theme/default.scss';

@mixin buttonDecoration($attr, $color) {
    &[data-decoration=#{$attr}] {
        background-color: $color;

        &:hover {
            background-color: rgba($color: $color, $alpha: .9);
        }

        &:active {
            background-color: $color;
            box-shadow: 0px 0px 0px;

            transform: translate(1px, 1px);
        }
    }
}

.button {
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    font-size: 18px;
    min-width: 130px;
    cursor: pointer;
    box-shadow: 1px 2px 2px;



    @include buttonDecoration("default", $primary);
    @include buttonDecoration("secondary", $secondary);
    @include buttonDecoration("danger", $danger)
}