@import "../../assets/theme/default.scss";

@mixin modalDecoration($attr, $color) {
    &[data-decoration=#{$attr}] {
        background-color: $color;
    }
}

.modal {
    border-radius: 8px;
    overflow: hidden;
    min-width: 500px;
    max-width: 500px;
    padding: 12px 24px;
    box-sizing: border-box;
    background-color: #FFFFFF;

    .title {
        margin: -12px -24px 0px -24px;
        padding: 12px 24px;
        font-weight: 800;
        text-transform: uppercase;
        @include modalDecoration('danger', $danger);
        @include modalDecoration('default', $secondary);
        color: $background;
    }

    .content {
        margin-top: 24px;
        margin-bottom: 32px;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}