@import '../../assets/theme/default.scss';

.container {
    display: flex;
    flex-direction: row;
    background-color: $primary;
    min-height: 50px;
    align-items: center;
    padding: 12px 24px;
    justify-content: center;
    position: relative;

    a {
        cursor: pointer;
        font-size: 28px;
        text-decoration: none;
        user-select: none;
        color: $background;

        &:hover {
            color: rgba($color: $background, $alpha: .7);
        }
    }

    .right {
        position: absolute;
        left: 24px;
    }


    .middle {

        a+a {
            margin-left: 12px;

            &:before {
                content: '|';
                cursor: default;
                color: $background !important;
                margin-right: 12px;
            }
        }
    }
}