@import './assets/theme/default.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $text;
}

body {
    font-family: 'Nunito', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    background-color: $background;
}